header#mainHeader{
  height: 80px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 30px;
  box-shadow: 0px 0px 5px 5px rgba(141, 141, 141, .50);
}

header#mainHeader img{
  height: 42px;
}