/* FOOTER LIST */

.footer-list{
  font-size: 1.1rem;
}

.footer-list .footer-list-h{
  font-size: 1.458rem;
  font-weight: bold;
  font-style: italic;
  color: #1D2A33;
  margin-bottom: 17px;
}

.footer-list a{
  color: var(--light-gray-span-color);
}

.footer-list i{
  font-size: 26px;
  color: #393939;
}

.footer-list ul li{
  font-size: 1.2rem;
  margin: 7px 0;
}

footer .footer-list ul li a{
  text-decoration: none;
  color: var(--light-gray-span-color);
  letter-spacing: 0.2px;
}



/* ASK ANYTHING LIST */

.main-footer div#ask-anything-footer{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.main-footer #ask-anything-footer > div p{
  color: var(--light-gray-span-color);
  margin-bottom: 4px;
  font-family: 'Roboto Condensed';
  font-size: 13.5px;
  letter-spacing: 0.2px;
}

.main-footer #ask-anything-footer > div a{
  color: var(--blue-link-color);
  font-weight: 600;
  font-size: 14px;
}


/* SOCIAL ITEMS FOOTER */

.footer-list .social-items{
  display: flex;
  gap: 25px;
}

.social-items .social-item{
  font-size: 13.5px;
  font-family: 'Roboto Condensed';;
  letter-spacing: 0.2px;
}

.footer-list .social-items a{
  text-decoration: none;
}

.footer-list .social-items img{
  width: 128px;
}

.footer-list .social-item a{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}