
/* VARIABLES */

footer{
  --light-gray-span-color: #8D8D8D;
  --blue-link-color: #2C6799;
}

/* BASIC STYLES */

.main-footer{
  width: 100%;
  background-color: #EFEFEF;
  padding-top: 30px;
}

.main-footer .top-lists{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  font-family: 'Roboto Condensed';
}

.main-footer .bottom-lists{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.main-footer span{
  margin: 0 3px;
}



/* TERMS DIV */

.main-footer .terms{
  font-size: 11px;
  text-align: center;
  color: #868686;
  margin: 15px;
}



/* ICONS */

i.fa-apple{
  font-size: 33px;
  margin-bottom: 4px;
}