

/* -------------  BASIC STYLES  ------------- */

html{
  font-size: 9.6px !important;
}


:root {
  font-family: 'Roboto', 'Roboto Condensed', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
  box-sizing: border-box;
}